/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styling Start */

.logo {
   width: 120px;
   height: 100%;
   margin-top: 0px;
   padding-left: 65px;
   padding-right: 10px;
   cursor: pointer;
}
.container-fluid .navbar-brand {
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: #fff;
}
.container-fluid .navbar-brand:hover {
  color: #fff;
}
.button {
  padding-right: 80px;
}
.collapse {
  font-weight: 400;
  font-size: 25px;
  padding-left: 380px;
}
.navbar, .navbar-expand-lg, .bg-body-tertiary {
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
}

/* Navbar Styling End */

/* Contact Page Styling Start */

.heading {
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  font-size: 60px;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  padding-top: 35px;
  text-align: center;
  height: 130px;
  margin-bottom: 100px;
}
.contact-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.contact-form label {
  font-weight: bold;
  margin-top: 4px;
}
.contact-form input,
.contact-form textarea {
  width: 600px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.contact-form textarea {
  height: 150px;
}
.contact-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contact-form button:hover {
  background-color: #3e8e41;
}

/* Contact Page Styling End */

/* About Page Styling Start */

.para1 {
  font-family: sans-serif;
  font-size: 30px;
  margin: 50px 250px 50px;
  letter-spacing: 0.1em;
  text-align: center;
}

/* About Page Styling End */

/* Registration Form Styling Start */

#register {
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px;
  max-width: 800px;
}
#register label {
  margin-bottom: 10px;
  font-size: 25px;
}
#register input {
  border-radius: 10px;
  outline: none;
  width: 100%;
  border: 1px solid black;
  padding: 7px;
  margin: 2px 0 10px;
}
#register input[type=button] {
  background: #599bb3;
  color: #fff;
  font-weight: 600;
  margin: 25px 0;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}
#login {
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px;
}
#login label {
  margin-bottom: 10px;
  font-size: 25px;
}
#login input {
  border-radius: 10px;
  outline: none;
  width: 100%;
  border: 1px solid black;
  padding: 7px;
  margin: 2px 0 10px;
}
#login input[type=button] {
  background: #599bb3;
  color: #fff;
  font-weight: 600;
  margin: 25px 0;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}
.form-heading1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #599bb3;
  padding: 10px;
  margin: 10px 210px 10px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 600;
}

/* Modal Styling Start */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
.modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content1 {
  background-color: #fefefe;
  margin: 150px auto;
  padding: 20px;
  border: 2px solid #888;
  width: 50%;
}
.modal-content2 {
  background-color: #fefefe;
  margin: 150px auto;
  padding: 20px;
  border: 2px solid #888;
  width: 50%;
}
.modal-content3 {
  background-color: #fefefe;
  margin: 350px auto;
  padding: 20px;
  border: 2px solid #888;
  width: 30%;
  text-align: center;
}

/* Main-Content Styling Start */

 .content, .home-content {
  text-align: center;
  margin-top: 100px;
 }
.content-heading {
  font-size: 150px;
  text-transform: uppercase;
  color: #111;
}
.content-heading2 {
  font-size: 100px;
  text-transform: uppercase;
  color: #111;
}
.content-heading2 .c-h1 {
  color: #599bb3;
}

.content-btn, .home-btn {
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius: 8px;
	display: inline-block;
  border: 1px solid #f1f1f1;
	cursor: pointer;
	color:#ffffff;
	font-family: Arial;
  text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
  margin-top: 40px;
	padding: 13px 32px;
  text-decoration: none;
}

/* Footer Styling Start */

.footer {
  background: #072f3e;
  color: #f1f1f1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 96px;
  padding: 20px;
  font-size: 30px;
}
.footer-text {
  color: #f1f1f1;
  text-decoration: none;
}

/* Footer Styling End */

/* Logout Button Styling Start */

.logout-button {
  background: #fff;
  border-radius: 7px;
  padding: 5px 15px 5px;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid #f3f3f3;
}
.logout-button:hover {
  background-color: #e2dddd;
  transition: all .2s ease-in;
}

/* Logout Button Styling Start */

/* Que-Container Styling Start */

.page-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
  column-gap: 30px;
  background-color: #F1F6F9;
  padding: 20px;
}
.que-container {
  position: relative;
  height: 100%;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 5px 10px 14px -8px #111;
}
.top-cont {
  background-color: #20262E;
  padding: 5px;
  display: grid;
  min-height: 50px;
  grid-template-columns: repeat(2, 1fr);
}
.timer {
  font-size:30px;
  text-align: center;
  font-family:Arial;
  width:140px;
  height:50px;
  margin: 30px 40px 30px;
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #D21312;
  font-weight: 600;
  padding: auto;
  justify-self: right;
  align-self: right;
  user-select: none;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
}
.queno {
  font-weight: bold;
  font-size: 24px;
  margin: 30px 40px 30px;
  color: #111;
  font-family: sans-serif;
  width: 37%;
  text-align: center;
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #20262E;
  padding: auto;
  user-select: none;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
}
#qno {
  font-weight: bold;
  font-size: 24px;
  color: #D21312;
}
#question {
  margin: 20px;
  background-color: #F1F6F9;
  min-height: 100px;
  max-height: 100px;
  font-weight: bold;
  padding: 10px;
  overflow: scroll;
  font-family: sans-serif;
  color:#666666;
  border:1px solid #dcdcdc;
  font-weight: bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  text-shadow:inset 0px 1px 0px #ffffff;
  background:linear-gradient(#ffffff, #f6f6f6);
}
.option {
  display: flex;
  flex-direction: column;
  margin: 250px 20px 10px;
  padding-right: 10px;
  min-height: 100px;
  max-height: 100px;
  font-family: sans-serif;
}
.form-check {
  font-size: 13px;
  width: 50%;
  padding: 15px;
  min-height: fit-content;
  background-color: #B9E9FC;
  /* height: 100%; */
  border: 2px solid #F1F6F9;
  border-radius: 50px;
  cursor: pointer;
}
.form-check:hover {
  background-color: #eee;
}

.form-check.selected {
  background-color: #ccc;
  color: #fff;
}
/* .form-check input[type="radio"]:checked + label {
  background-color: #ccc;
} */
#imgs {
  margin: 30px 30px;
  min-height: 200px;
  max-height: 200px;
  min-width: 300px;
  max-width: 300px;
  display: none;
}
#nxt-btn {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	cursor:pointer;
	color:#ffffff;
  float: right;
  margin: 30px 40px 20px 0; 
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding: 5px 10px 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
#nxt-btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
#nxt-btn:active {
	position:relative;
	top:1px;
}
.conBadge {
  border: 2px solid black;
  display: grid;
  background-color: #F6FFDE;
  box-shadow: 5px 10px 14px -8px #111;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
}
.button {
  text-align: center;
  margin: 20px;
  font-family: sans-serif;
}
.sub-btn {
  box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
  text-transform: uppercase;
  text-align: center;
	font-weight:bold;
  margin: 30px 0 0 75px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.sub-btn:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.sub-btn:active {
	position:relative;
	top:1px;
}
.badge-item {
  padding: 10px;
  font-size: 20px;
}